In [1]:
import pandas as pd
from pathlib import Path

In [2]:
csv_path = Path("gold_data.csv")

In [3]:
gold_data = pd.read_csv(csv_path, index_col = "Date")
gold_data = gold_data.sort_index(ascending=True)

In [4]:
gold_data.head()

                       Open    High     Low   Close    Volume  Open Interest
Date
2016/01/04 00:00:00  1061.5  1083.0  1061.0  1075.2  151233.0              0
2016/01/05 00:00:00  1073.5  1081.5  1071.9  1078.4   99250.0              0
2016/01/06 00:00:00  1076.8  1094.9  1074.4  1091.9  179581.0              0
2016/01/07 00:00:00  1093.7  1109.9  1091.1  1107.8  203063.0              0
2016/01/08 00:00:00  1108.8  1113.1  1091.8  1097.9  183436.0              0

In [5]:
gold_data['Volume'] = gold_data['Volume'].fillna(0)

In [6]:
gold_data['Volume'].isnull().values.any()

False

In [7]:
gold_data.to_csv('gold_data_for_backtrader.csv')